@import '@/styles/variables.scss';


.projects {
  padding: 50px;
  background-color: #121212;
  color: #fff;
  border-bottom: 1px solid $line-color;

  h2 {
    font-size: 4em;
    font-family: $font-family-Bedas-Neue;
    font-weight: 600;
    color: $secondary-text-color;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.2em;
    margin-bottom: 30px;
  }

  .projectList {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}