$primary-color: #D3E97A; // Светло-зеленый
$dark-background: #000000; // Темный фон
$font-family-base: 'Montserrat', sans-serif; // Пример шрифта


$font-family-Bedas-Neue: 'Bedas-Neue', sans-serif;
$font-family-inter: 'inter', sans-serif;
$font-family-manrope: 'Manrope', sans-serif;


$text-color: #C7C7C7; //Цвет основного текста
$secondary-text-color: #ffffff; //Цвет заголовков
$line-color: #484848