@import '@/styles/variables.scss';
.projectCard {
  display: flex;
  border-radius: 10px;
  overflow: hidden;

  .image {
    min-width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $png-bgk-color;

    img {
      width: 468px;
      height: 347px;
      object-fit: cover;
    }
  }

  .info {
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    h3 {
      font-size: 32px;
      font-weight: 500;
      font-family: $font-family-manrope;
      margin-bottom: 10px;
      color: $secondary-text-color;
    }

    p {
      font-size: 18px;
      font-family: $font-family-manrope;
      font-weight: 400;
      margin-bottom: 10px;
      color: $text-color;
    }

    .projectInfo {
      display: flex;
      flex-direction: column;
      p {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $line-color;
        padding: 20px 0 20px 0;
        span {
          font-family: $font-family-manrope;
          font-size: 16px;
          font-weight: 500;
          color: $text-color;

        }
      }
      h1 {
        font-size: 16px;
        font-weight: 600;
        font-family: $font-family-manrope;
        color: $secondary-text-color;
        border-bottom: 1px solid $line-color;
        padding: 20px 0 20px 0;
      }
    }

    .links {
      display: flex;
      gap: 10px;

      a {
        color: #fff;
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 5px;
        background-color: #333;
        &:hover{
          background-color: #D3E97A;
          color:#000000;
        }
      }
    }
  }
}